[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
setuptools = "*"
wheel = "*"
tensorflow-probability = "*"
"h5py" = "*"
tensorflow-hub = "*"

[dev-packages]

[requires]
python_version = "3.5"
